.showCandidate{
    background-color: var(--color-main);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;
    display: flex;

    position: absolute;
    gap: 2rem;
    flex-direction: column;
}

.container-show-candidate{
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    align-items: center;
    gap: 5rem;


    background-color: var(--color-two);

    border-radius: 20px;
    min-width: 60%;
    min-height: 70%;

}

.box-text-candidate{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.title-text-curriculum-candidate{
    font-size: 2em;
    color: var(--color-main);
}

.sub-title-text-curriculum-candidate{
    font-size: 1.4em;
    color: var(--color-main);
}

.text-curriculum-candidate{
   font-size: 1.2em;
   font-weight: bold;
  
   color: black;
}
.text-curriculum-candidate span{
        font-weight: 400;
        color: var(--color-main);
}

.img-profile-candidate{
    height: 15rem;
    border-radius: 10px;
}

.button-closed-show-candidate{
    background-color: var(--color-three);
    width: 25rem;
    height: 4rem;
    
    border-radius: 20px;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    border: 3px solid transparent;
    cursor: pointer;
}

.button-closed-show-candidate:hover{
    border-color: white;
}

@media(max-width:1280px){

    .container-show-candidate{
        display: flex;
        justify-content: space-evenly;
        padding: 5rem;
        align-items: center;
        gap: 2rem;
        width: 90%;
        height: 80%;
    
    }

    .title-text-curriculum-candidate {
        font-size: 1.5em;
    }
    .sub-title-text-curriculum-candidate {
        font-size: 1.2em;
    }
    .text-curriculum-candidate {
        font-size: 1em;
    }
    
    .img-profile-candidate {
        height: 10rem;{

        }


}

@media(max-width:768px){

    .showCandidate {
        background-color: var(--color-main);
        width: 100%;
        min-height: 100vh;
    }

    .container-show-candidate{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem;
        align-items: center;
        gap: 1rem;
        width: 90%;
        height: auto;
    
    }

    .title-text-curriculum-candidate {
        font-size: 1.3em;
    }
    .sub-title-text-curriculum-candidate {
        font-size: 1.1em;
    }
    .text-curriculum-candidate {
        font-size: 1em;
    }
    
    .img-profile-candidate {
        height: 7rem;

    }
    .button-closed-show-candidate {
        font-size: 1em;
        width: 80%;
        height: 4rem;
    }


}

@media(max-width:525px){
    .img-profile-candidate {
        height: 5rem;
    }
    .title-text-curriculum-candidate {
        font-size: 1.1em;
    }
    .sub-title-text-curriculum-candidate {
        font-size: 1em;
    }
    .text-curriculum-candidate {
        font-size: 0.9em;
    }
}