.container-main-form-info-primary-student{
    display: flex;
    flex-direction: column;
    padding: 2rem;

    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width:100%;
    background-color: var(--color-two)
}


.box-title-form-info-primary-student{
    display: flex;
    flex-direction: column;

    gap: 1rem;

   
    width: 100%;
    padding-left: 2rem;
}

.title-form-info-primary-student{
    font-size: 3em;
   
    width: 90%;
    padding-top: 1rem;
    color: var(--color-three);
}

.subtitle-form-info-primary-student{
    color: white;
    font-size: 2em;
}

.color-title-info-primary-student{
    color: white;
    border-bottom: 3px solid white;
}

.container-form-info-primary-student{
    display: flex;
   
    justify-content: space-between;
    align-items: center;

    padding: 5rem;
    width: 100%;
    height: auto;

    background-color: var(--color-main);
    border-radius: 25px;
    border: 4px solid var(--color-three);

}

.logo-linkjobs-update-student{
    width: 10rem;
    margin-right: 3rem;
}